#page_wrapper

  .about
    %h1 A little bit about me...

  .img
    = link_to image_tag "saudi.png"
    = link_to image_tag("plane.jpg"), 'http://www.google.ca'
    = link_to image_tag("v.jpg")
    = link_to image_tag("ch.jpg")
    = link_to image_tag("amphion.jpg")
    = link_to image_tag("china.jpg")
    = link_to image_tag("hw.jpg")
    = link_to image_tag("me.jpg")
    = link_to image_tag("work.jpg")
    = link_to image_tag("artpic.jpg")
    = link_to image_tag("hardwork.jpg")
    = link_to image_tag("roar.jpg")
    = link_to image_tag("ml.jpg")
    = link_to image_tag("prop.jpg")
    = link_to image_tag("wr2.jpg")
    = link_to image_tag("lookout.jpg")
    = link_to image_tag("landing.jpg")
    = link_to image_tag("tru.jpg")
    = link_to image_tag("truck.jpg")
    = link_to image_tag("oldpic.jpg")
    = link_to image_tag("parker.jpg")
    = link_to image_tag("Tony-Blum-Main-3.jpg")
